{
  "openapi": "3.1.0",
  "info": {
    "title": "ClientCasa API",
    "version": "1.0.0",
    "description": "REST API for ClientCasa — proposals, contracts, time tracking, expenses, invoicing, payments, and CRM for solo operators and small teams."
  },
  "servers": [
    {
      "url": "https://www.clientcasa.com",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "invalid_request",
                  "rate_limited",
                  "conflict",
                  "internal_error"
                ]
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "code",
              "message",
              "requestId"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "page",
          "pageSize",
          "total",
          "totalPages",
          "hasMore"
        ]
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "status": {
            "type": "string",
            "enum": [
              "prospect",
              "active",
              "inactive"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "notes",
          "createdAt",
          "updatedAt"
        ]
      },
      "ClientCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "status": {
            "type": "string",
            "enum": [
              "prospect",
              "active",
              "inactive"
            ],
            "default": "active"
          },
          "notes": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "ClientUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "status": {
            "type": "string",
            "enum": [
              "prospect",
              "active",
              "inactive"
            ],
            "default": "active"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "primary",
              "billing",
              "other"
            ]
          },
          "isPrimary": {
            "type": "boolean"
          },
          "clientId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "inquiryId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "phone",
          "title",
          "role",
          "isPrimary",
          "clientId",
          "inquiryId",
          "createdAt",
          "updatedAt"
        ]
      },
      "ContactCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "maxLength": 50
          },
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "role": {
            "type": "string",
            "enum": [
              "primary",
              "billing",
              "other"
            ],
            "default": "other"
          },
          "isPrimary": {
            "type": "boolean",
            "default": false
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        },
        "required": [
          "name"
        ]
      },
      "ContactUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "maxLength": 50
          },
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "role": {
            "type": "string",
            "enum": [
              "primary",
              "billing",
              "other"
            ],
            "default": "other"
          },
          "isPrimary": {
            "type": "boolean",
            "default": false
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "completed"
            ]
          },
          "pipelineStageId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "endDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "eventDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "contractValue": {
            "type": [
              "number",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "name",
          "clientId",
          "status",
          "pipelineStageId",
          "startDate",
          "endDate",
          "eventDate",
          "contractValue",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProjectCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "completed"
            ],
            "default": "active"
          },
          "pipelineStageId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "eventDate": {
            "type": "string",
            "format": "date"
          },
          "contractValue": {
            "type": "number",
            "minimum": 0
          }
        },
        "required": [
          "name",
          "clientId"
        ]
      },
      "ProjectUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "completed"
            ],
            "default": "active"
          },
          "pipelineStageId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "eventDate": {
            "type": "string",
            "format": "date"
          },
          "contractValue": {
            "type": "number",
            "minimum": 0
          }
        }
      },
      "InvoiceLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "unitPrice": {
            "type": "number"
          },
          "taxable": {
            "type": "boolean"
          },
          "discountPercent": {
            "type": [
              "number",
              "null"
            ]
          },
          "total": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "description",
          "quantity",
          "unitPrice",
          "taxable",
          "discountPercent",
          "total"
        ]
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "invoiceNumber": {
            "type": "string"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "billingContactId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "description": "UUID v4",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "partial",
              "paid",
              "overdue",
              "void"
            ]
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "currency": {
            "type": "string"
          },
          "subtotal": {
            "type": "number"
          },
          "discountAmount": {
            "type": "number"
          },
          "taxAmount": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "amountPaid": {
            "type": "number"
          },
          "balanceDue": {
            "type": "number"
          },
          "paymentTerms": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "paidAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceLineItem"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "invoiceNumber",
          "clientId",
          "billingContactId",
          "projectIds",
          "status",
          "subject",
          "issueDate",
          "dueDate",
          "currency",
          "subtotal",
          "discountAmount",
          "taxAmount",
          "total",
          "amountPaid",
          "balanceDue",
          "paymentTerms",
          "notes",
          "paidAt",
          "lineItems",
          "createdAt",
          "updatedAt"
        ]
      },
      "InvoiceCreate": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "billingContactId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "description": "UUID v4",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "void"
            ],
            "default": "draft"
          },
          "subject": {
            "type": "string",
            "maxLength": 500
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "paymentTerms": {
            "type": "string",
            "maxLength": 500
          },
          "notes": {
            "type": "string",
            "maxLength": 5000
          },
          "lineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "quantity": {
                  "type": "number",
                  "exclusiveMinimum": 0
                },
                "unitPrice": {
                  "type": "number",
                  "minimum": 0
                },
                "taxable": {
                  "type": "boolean",
                  "default": false
                },
                "discountPercent": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                }
              },
              "required": [
                "description",
                "quantity",
                "unitPrice"
              ]
            },
            "minItems": 1
          }
        },
        "required": [
          "clientId",
          "lineItems"
        ]
      },
      "InvoiceUpdate": {
        "type": "object",
        "properties": {
          "billingContactId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "description": "UUID v4",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "void"
            ]
          },
          "subject": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "paymentTerms": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          }
        }
      },
      "Proposal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "proposalNumber": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "billingContactId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "accepted",
              "rejected",
              "expired",
              "void"
            ]
          },
          "sendMode": {
            "type": "string",
            "enum": [
              "proposal",
              "agreement"
            ]
          },
          "issueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "expirationDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "eventDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "currency": {
            "type": "string"
          },
          "subtotal": {
            "type": "number"
          },
          "discountAmount": {
            "type": "number"
          },
          "taxAmount": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "archived": {
            "type": "boolean"
          },
          "linkedContractId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "proposalNumber",
          "title",
          "clientId",
          "billingContactId",
          "projectId",
          "status",
          "sendMode",
          "issueDate",
          "expirationDate",
          "eventDate",
          "currency",
          "subtotal",
          "discountAmount",
          "taxAmount",
          "total",
          "notes",
          "archived",
          "linkedContractId",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProposalCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "billingContactId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "sendMode": {
            "type": "string",
            "enum": [
              "proposal",
              "agreement"
            ],
            "default": "proposal"
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "expirationDate": {
            "type": "string",
            "format": "date"
          },
          "eventDate": {
            "type": "string",
            "format": "date"
          },
          "notes": {
            "type": "string",
            "maxLength": 5000
          }
        },
        "required": [
          "title",
          "clientId"
        ]
      },
      "ProposalUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "billingContactId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "void"
            ]
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "expirationDate": {
            "type": "string",
            "format": "date"
          },
          "eventDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "ContractSigner": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "string",
                "enum": [
                  ""
                ]
              }
            ]
          },
          "role": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "signedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "contactId",
          "name",
          "email",
          "role",
          "order",
          "status",
          "signedAt"
        ]
      },
      "Contract": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "contractNumber": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "billingContactId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "proposalId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "sourceTemplateId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "viewed",
              "active",
              "completed",
              "expired",
              "voided"
            ]
          },
          "signingMode": {
            "type": "string",
            "enum": [
              "client_only",
              "counter_sign",
              "auto_counter_sign"
            ]
          },
          "contentType": {
            "type": "string",
            "enum": [
              "tiptap",
              "pdf"
            ]
          },
          "issueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "effectiveDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "expirationDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "signedDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "currency": {
            "type": "string"
          },
          "contractValue": {
            "type": [
              "number",
              "null"
            ]
          },
          "signers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "contactId": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uuid",
                  "description": "UUID v4",
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "email"
                    },
                    {
                      "type": "string",
                      "enum": [
                        ""
                      ]
                    }
                  ]
                },
                "role": {
                  "type": "string"
                },
                "order": {
                  "type": "integer"
                },
                "status": {
                  "type": "string"
                },
                "signedAt": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time",
                  "description": "ISO 8601 timestamp (UTC)"
                }
              },
              "required": [
                "contactId",
                "name",
                "email",
                "role",
                "order",
                "status",
                "signedAt"
              ]
            }
          },
          "archived": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "contractNumber",
          "title",
          "clientId",
          "billingContactId",
          "proposalId",
          "projectId",
          "sourceTemplateId",
          "status",
          "signingMode",
          "contentType",
          "issueDate",
          "effectiveDate",
          "expirationDate",
          "signedDate",
          "currency",
          "contractValue",
          "signers",
          "archived",
          "createdAt",
          "updatedAt"
        ]
      },
      "ContractCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "billingContactId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "proposalId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "sourceTemplateId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "expirationDate": {
            "type": "string",
            "format": "date"
          },
          "contractValue": {
            "type": "number",
            "minimum": 0
          }
        },
        "required": [
          "title",
          "clientId"
        ]
      },
      "ContractUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "effectiveDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "expirationDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "invoiceId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "receivedDate": {
            "type": "string",
            "format": "date"
          },
          "method": {
            "type": "string",
            "enum": [
              "stripe",
              "check",
              "bank_transfer",
              "cash",
              "venmo",
              "zelle",
              "paypal",
              "wire",
              "other"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "succeeded",
              "failed"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "payment",
              "refund",
              "chargeback",
              "dispute_fee",
              "adjustment"
            ]
          },
          "reference": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "netAmount": {
            "type": [
              "number",
              "null"
            ]
          },
          "payoutId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "refundOfId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "clientId",
          "invoiceId",
          "amount",
          "currency",
          "receivedDate",
          "method",
          "status",
          "kind",
          "reference",
          "notes",
          "netAmount",
          "payoutId",
          "refundOfId",
          "createdAt",
          "updatedAt"
        ]
      },
      "PaymentCreate": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "invoiceId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "default": "USD"
          },
          "receivedDate": {
            "type": "string",
            "format": "date"
          },
          "method": {
            "type": "string",
            "enum": [
              "check",
              "bank_transfer",
              "cash",
              "venmo",
              "zelle",
              "paypal",
              "wire",
              "other"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "payment",
              "refund",
              "adjustment"
            ],
            "default": "payment"
          },
          "reference": {
            "type": "string",
            "maxLength": 200
          },
          "notes": {
            "type": "string",
            "maxLength": 2000
          },
          "refundOfId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        },
        "required": [
          "clientId",
          "amount",
          "receivedDate",
          "method"
        ]
      },
      "PaymentUpdate": {
        "type": "object",
        "properties": {
          "reference": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        }
      },
      "Payout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "stripePayoutId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "arrivalDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in_transit",
              "paid",
              "failed",
              "canceled"
            ]
          },
          "type": {
            "type": "string"
          },
          "automatic": {
            "type": "boolean"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "bankAccountLast4": {
            "type": [
              "string",
              "null"
            ]
          },
          "bankAccountName": {
            "type": [
              "string",
              "null"
            ]
          },
          "grossTotal": {
            "type": "number"
          },
          "feeTotal": {
            "type": "number"
          },
          "refundTotal": {
            "type": "number"
          },
          "paymentCount": {
            "type": "integer"
          },
          "failureCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "failureMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "stripePayoutId",
          "amount",
          "currency",
          "arrivalDate",
          "status",
          "type",
          "automatic",
          "description",
          "bankAccountLast4",
          "bankAccountName",
          "grossTotal",
          "feeTotal",
          "refundTotal",
          "paymentCount",
          "failureCode",
          "failureMessage",
          "createdAt",
          "updatedAt"
        ]
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "projectId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "memberId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "catalogItemId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "hours": {
            "type": "number"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "billable": {
            "type": "boolean"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "standard",
              "overtime",
              "emergency",
              "custom"
            ]
          },
          "customMultiplierName": {
            "type": [
              "string",
              "null"
            ]
          },
          "rateOverride": {
            "type": [
              "number",
              "null"
            ]
          },
          "effectiveRate": {
            "type": [
              "number",
              "null"
            ]
          },
          "discountPercent": {
            "type": [
              "number",
              "null"
            ]
          },
          "workerName": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "projectId",
          "clientId",
          "memberId",
          "catalogItemId",
          "date",
          "hours",
          "description",
          "billable",
          "rateType",
          "customMultiplierName",
          "rateOverride",
          "effectiveRate",
          "discountPercent",
          "workerName",
          "createdAt",
          "updatedAt"
        ]
      },
      "TimeEntryCreate": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "memberId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "catalogItemId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "hours": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "billable": {
            "type": "boolean",
            "default": true
          },
          "rateType": {
            "type": "string",
            "enum": [
              "standard",
              "overtime",
              "emergency",
              "custom"
            ],
            "default": "standard"
          },
          "customMultiplierName": {
            "type": "string",
            "maxLength": 100
          },
          "rateOverride": {
            "type": "number",
            "minimum": 0
          },
          "discountPercent": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "workerName": {
            "type": "string",
            "maxLength": 200
          }
        },
        "required": [
          "projectId",
          "memberId",
          "date",
          "hours"
        ]
      },
      "TimeEntryUpdate": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "memberId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "catalogItemId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "hours": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "billable": {
            "type": "boolean",
            "default": true
          },
          "rateType": {
            "type": "string",
            "enum": [
              "standard",
              "overtime",
              "emergency",
              "custom"
            ],
            "default": "standard"
          },
          "customMultiplierName": {
            "type": "string",
            "maxLength": 100
          },
          "rateOverride": {
            "type": "number",
            "minimum": 0
          },
          "discountPercent": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "workerName": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "Milestone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "parentType": {
            "type": "string",
            "enum": [
              "proposals",
              "projects"
            ]
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "time": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in-progress",
              "completed"
            ]
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "assigneeId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "catalogItemId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "sortOrder": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "parentType",
          "parentId",
          "title",
          "description",
          "date",
          "time",
          "status",
          "completedAt",
          "assigneeId",
          "catalogItemId",
          "sortOrder",
          "createdAt",
          "updatedAt"
        ]
      },
      "MilestoneCreate": {
        "type": "object",
        "properties": {
          "parentType": {
            "type": "string",
            "enum": [
              "proposals",
              "projects"
            ]
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "time": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}$"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in-progress",
              "completed"
            ],
            "default": "pending"
          },
          "assigneeId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "catalogItemId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "sortOrder": {
            "type": "integer"
          }
        },
        "required": [
          "parentType",
          "parentId",
          "title",
          "date"
        ]
      },
      "MilestoneUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "time": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^\\d{2}:\\d{2}$"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in-progress",
              "completed"
            ]
          },
          "assigneeId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "catalogItemId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "sortOrder": {
            "type": "integer"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "allDay": {
            "type": "boolean"
          },
          "projectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "clientId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "actionable": {
            "type": "boolean"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "recurring": {
            "type": "boolean"
          },
          "rrule": {
            "type": [
              "string",
              "null"
            ]
          },
          "recurrenceEnd": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "source": {
            "type": "string",
            "enum": [
              "manual",
              "google",
              "microsoft",
              "apple"
            ]
          },
          "readOnly": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "startDateTime",
          "endDateTime",
          "allDay",
          "projectId",
          "clientId",
          "actionable",
          "completedAt",
          "recurring",
          "rrule",
          "recurrenceEnd",
          "source",
          "readOnly",
          "createdAt",
          "updatedAt"
        ]
      },
      "CalendarEventCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "description": {
            "type": "string",
            "maxLength": 5000
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "allDay": {
            "type": "boolean",
            "default": false
          },
          "projectId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "actionable": {
            "type": "boolean",
            "default": false
          },
          "recurring": {
            "type": "boolean",
            "default": false
          },
          "rrule": {
            "type": "string",
            "maxLength": 500
          },
          "recurrenceEnd": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "title",
          "startDateTime",
          "endDateTime"
        ]
      },
      "CalendarEventUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "allDay": {
            "type": "boolean"
          },
          "projectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "clientId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "actionable": {
            "type": "boolean"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "recurring": {
            "type": "boolean"
          },
          "rrule": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "recurrenceEnd": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        }
      },
      "Inquiry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "contactId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "inquirySlug": {
            "type": [
              "string",
              "null"
            ]
          },
          "preferredDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "contacted",
              "qualified",
              "converted",
              "declined",
              "spam"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "inquiry_form",
              "manual",
              "referral",
              "other"
            ]
          },
          "customAnswers": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "convertedClientId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "convertedProjectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "convertedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "lastContactedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "nextFollowUpAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "phone",
          "contactId",
          "inquirySlug",
          "preferredDate",
          "message",
          "status",
          "source",
          "customAnswers",
          "convertedClientId",
          "convertedProjectId",
          "convertedAt",
          "lastContactedAt",
          "nextFollowUpAt",
          "notes",
          "createdAt",
          "updatedAt"
        ]
      },
      "InquiryCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "maxLength": 50
          },
          "preferredDate": {
            "type": "string",
            "format": "date"
          },
          "message": {
            "type": "string",
            "maxLength": 5000
          },
          "source": {
            "type": "string",
            "enum": [
              "inquiry_form",
              "manual",
              "referral",
              "other"
            ],
            "default": "manual"
          },
          "customAnswers": {
            "type": "object",
            "additionalProperties": {}
          },
          "contactId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "notes": {
            "type": "string",
            "maxLength": 5000
          }
        },
        "required": [
          "name",
          "email"
        ]
      },
      "InquiryUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "new",
              "contacted",
              "qualified",
              "declined",
              "spam"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "preferredDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          },
          "lastContactedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "nextFollowUpAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          }
        }
      },
      "TransactionAssignment": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "clientId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "type": [
              "number",
              "null"
            ]
          },
          "percentage": {
            "type": [
              "number",
              "null"
            ]
          },
          "fixedAmount": {
            "type": [
              "number",
              "null"
            ]
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "endDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          }
        },
        "required": [
          "projectId",
          "clientId",
          "amount",
          "percentage",
          "fixedAmount",
          "startDate",
          "endDate"
        ]
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string"
          },
          "catalogItemId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "taxCategoryId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "type": "number"
          },
          "frequency": {
            "type": "string",
            "enum": [
              "one-time",
              "monthly",
              "quarterly",
              "annual"
            ]
          },
          "direction": {
            "type": "string",
            "enum": [
              "cost",
              "revenue"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "each",
              "split",
              "global"
            ]
          },
          "splitEvenly": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "assignments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "projectId": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uuid",
                  "description": "UUID v4",
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "clientId": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uuid",
                  "description": "UUID v4",
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "amount": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "percentage": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "fixedAmount": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "startDate": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                },
                "endDate": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                }
              },
              "required": [
                "projectId",
                "clientId",
                "amount",
                "percentage",
                "fixedAmount",
                "startDate",
                "endDate"
              ]
            }
          },
          "passThrough": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "markupPercent": {
            "type": [
              "number",
              "null"
            ]
          },
          "billedAmount": {
            "type": [
              "number",
              "null"
            ]
          },
          "startDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "endDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "vendorName": {
            "type": [
              "string",
              "null"
            ]
          },
          "vendorEmail": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "vendorTaxId": {
            "type": [
              "string",
              "null"
            ]
          },
          "receiptVerified": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "archived"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "name",
          "catalogItemId",
          "taxCategoryId",
          "amount",
          "frequency",
          "direction",
          "mode",
          "splitEvenly",
          "assignments",
          "passThrough",
          "markupPercent",
          "billedAmount",
          "startDate",
          "endDate",
          "notes",
          "vendorName",
          "vendorEmail",
          "vendorTaxId",
          "receiptVerified",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "TransactionCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "catalogItemId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "taxCategoryId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "frequency": {
            "type": "string",
            "enum": [
              "one-time",
              "monthly",
              "quarterly",
              "annual"
            ],
            "default": "one-time"
          },
          "direction": {
            "type": "string",
            "enum": [
              "cost",
              "revenue"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "each",
              "split",
              "global"
            ],
            "default": "each"
          },
          "splitEvenly": {
            "type": "boolean"
          },
          "assignments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "projectId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUID v4",
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "clientId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUID v4",
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "amount": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "fixedAmount": {
                  "type": "number"
                },
                "startDate": {
                  "type": "string",
                  "format": "date"
                },
                "endDate": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          },
          "passThrough": {
            "type": "boolean"
          },
          "markupPercent": {
            "type": "number",
            "minimum": 0
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "notes": {
            "type": "string",
            "maxLength": 2000
          },
          "vendorName": {
            "type": "string",
            "maxLength": 200
          },
          "vendorEmail": {
            "type": "string",
            "format": "email"
          },
          "vendorTaxId": {
            "type": "string",
            "maxLength": 50
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "archived"
            ],
            "default": "active"
          }
        },
        "required": [
          "name",
          "amount",
          "direction"
        ]
      },
      "TransactionUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "catalogItemId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "taxCategoryId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "frequency": {
            "type": "string",
            "enum": [
              "one-time",
              "monthly",
              "quarterly",
              "annual"
            ],
            "default": "one-time"
          },
          "direction": {
            "type": "string",
            "enum": [
              "cost",
              "revenue"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "each",
              "split",
              "global"
            ],
            "default": "each"
          },
          "splitEvenly": {
            "type": "boolean"
          },
          "assignments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "projectId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUID v4",
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "clientId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUID v4",
                  "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "amount": {
                  "type": "number"
                },
                "percentage": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "fixedAmount": {
                  "type": "number"
                },
                "startDate": {
                  "type": "string",
                  "format": "date"
                },
                "endDate": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          },
          "passThrough": {
            "type": "boolean"
          },
          "markupPercent": {
            "type": "number",
            "minimum": 0
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "notes": {
            "type": "string",
            "maxLength": 2000
          },
          "vendorName": {
            "type": "string",
            "maxLength": 200
          },
          "vendorEmail": {
            "type": "string",
            "format": "email"
          },
          "vendorTaxId": {
            "type": "string",
            "maxLength": 50
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "archived"
            ],
            "default": "active"
          }
        }
      },
      "CatalogItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string"
          },
          "invoiceLabel": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "invoiceDescription": {
            "type": [
              "string",
              "null"
            ]
          },
          "defaultRate": {
            "type": [
              "number",
              "null"
            ]
          },
          "unit": {
            "type": "string",
            "enum": [
              "flat",
              "hour",
              "each"
            ]
          },
          "defaultFrequency": {
            "type": "string",
            "enum": [
              "one-time",
              "monthly",
              "quarterly",
              "annual"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "expense",
              "charge"
            ]
          },
          "taxCategoryId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "archived"
            ]
          },
          "clientId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "name",
          "invoiceLabel",
          "description",
          "invoiceDescription",
          "defaultRate",
          "unit",
          "defaultFrequency",
          "type",
          "taxCategoryId",
          "status",
          "clientId",
          "createdAt",
          "updatedAt"
        ]
      },
      "CatalogItemCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "invoiceLabel": {
            "type": "string",
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "invoiceDescription": {
            "type": "string",
            "maxLength": 2000
          },
          "defaultRate": {
            "type": "number",
            "minimum": 0
          },
          "unit": {
            "type": "string",
            "enum": [
              "flat",
              "hour",
              "each"
            ],
            "default": "flat"
          },
          "defaultFrequency": {
            "type": "string",
            "enum": [
              "one-time",
              "monthly",
              "quarterly",
              "annual"
            ],
            "default": "one-time"
          },
          "type": {
            "type": "string",
            "enum": [
              "expense",
              "charge"
            ]
          },
          "taxCategoryId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "archived"
            ],
            "default": "active"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "CatalogItemUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "invoiceLabel": {
            "type": "string",
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "invoiceDescription": {
            "type": "string",
            "maxLength": 2000
          },
          "defaultRate": {
            "type": "number",
            "minimum": 0
          },
          "unit": {
            "type": "string",
            "enum": [
              "flat",
              "hour",
              "each"
            ],
            "default": "flat"
          },
          "defaultFrequency": {
            "type": "string",
            "enum": [
              "one-time",
              "monthly",
              "quarterly",
              "annual"
            ],
            "default": "one-time"
          },
          "type": {
            "type": "string",
            "enum": [
              "expense",
              "charge"
            ]
          },
          "taxCategoryId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "archived"
            ],
            "default": "active"
          },
          "clientId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID v4",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "proposal_sent",
                "proposal_expiring",
                "proposal_accepted",
                "proposal_rejected",
                "proposal_expired",
                "proposal_viewed",
                "invoice_sent",
                "invoice_due_soon",
                "invoice_overdue",
                "invoice_paid",
                "invoice_payment_failed",
                "invoice_disputed",
                "invoice_payment_reminder",
                "invoice_viewed",
                "payment_received",
                "payment_refunded",
                "payment_applied",
                "payment_unapplied",
                "payment_deleted",
                "payment_chargeback",
                "receipt_sent",
                "schedule_deposit_ready",
                "schedule_installment_due",
                "schedule_installment_paid",
                "schedule_completed",
                "document_processed",
                "document_action_created",
                "document_action_approved",
                "document_needs_review",
                "document_failed",
                "client_created",
                "contact_created",
                "project_created",
                "time_entry_created",
                "inquiry_created",
                "inquiry_status_changed",
                "inquiry_converted",
                "milestone_approaching",
                "timer_running_reminder",
                "contract_sent",
                "contract_viewed",
                "contract_signed",
                "contract_recipient_signed",
                "contract_countersigned",
                "contract_completed",
                "contract_expired",
                "contract_voided",
                "questionnaire_sent",
                "questionnaire_completed",
                "subscription_payment_failed",
                "payout_paid",
                "payout_failed"
              ]
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "source": {
            "type": "string",
            "enum": [
              "manual",
              "zapier",
              "n8n",
              "make"
            ]
          },
          "hasSecret": {
            "type": "boolean"
          },
          "lastTriggered": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "lastStatus": {
            "type": [
              "integer",
              "null"
            ]
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "events",
          "enabled",
          "source",
          "hasSecret",
          "lastTriggered",
          "lastStatus",
          "consecutiveFailures",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "proposal_sent",
                "proposal_expiring",
                "proposal_accepted",
                "proposal_rejected",
                "proposal_expired",
                "proposal_viewed",
                "invoice_sent",
                "invoice_due_soon",
                "invoice_overdue",
                "invoice_paid",
                "invoice_payment_failed",
                "invoice_disputed",
                "invoice_payment_reminder",
                "invoice_viewed",
                "payment_received",
                "payment_refunded",
                "payment_applied",
                "payment_unapplied",
                "payment_deleted",
                "payment_chargeback",
                "receipt_sent",
                "schedule_deposit_ready",
                "schedule_installment_due",
                "schedule_installment_paid",
                "schedule_completed",
                "document_processed",
                "document_action_created",
                "document_action_approved",
                "document_needs_review",
                "document_failed",
                "client_created",
                "contact_created",
                "project_created",
                "time_entry_created",
                "inquiry_created",
                "inquiry_status_changed",
                "inquiry_converted",
                "milestone_approaching",
                "timer_running_reminder",
                "contract_sent",
                "contract_viewed",
                "contract_signed",
                "contract_recipient_signed",
                "contract_countersigned",
                "contract_completed",
                "contract_expired",
                "contract_voided",
                "questionnaire_sent",
                "questionnaire_completed",
                "subscription_payment_failed",
                "payout_paid",
                "payout_failed"
              ]
            },
            "minItems": 1
          },
          "enabled": {
            "type": "boolean",
            "default": true
          },
          "secret": {
            "type": "string",
            "minLength": 16,
            "maxLength": 200
          }
        },
        "required": [
          "name",
          "url",
          "events"
        ]
      },
      "WebhookUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "proposal_sent",
                "proposal_expiring",
                "proposal_accepted",
                "proposal_rejected",
                "proposal_expired",
                "proposal_viewed",
                "invoice_sent",
                "invoice_due_soon",
                "invoice_overdue",
                "invoice_paid",
                "invoice_payment_failed",
                "invoice_disputed",
                "invoice_payment_reminder",
                "invoice_viewed",
                "payment_received",
                "payment_refunded",
                "payment_applied",
                "payment_unapplied",
                "payment_deleted",
                "payment_chargeback",
                "receipt_sent",
                "schedule_deposit_ready",
                "schedule_installment_due",
                "schedule_installment_paid",
                "schedule_completed",
                "document_processed",
                "document_action_created",
                "document_action_approved",
[...]
