{"openapi":"3.1.0","info":{"title":"ClientCasa API","version":"1.0.0","description":"REST API for ClientCasa — proposals, contracts, time tracking, expenses, invoicing, payments, and CRM for solo operators and small teams."},"servers":[{"url":"https://www.clientcasa.com","description":"Production"}],"components":{"schemas":{"ApiError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["unauthorized","forbidden","not_found","invalid_request","rate_limited","conflict","gone","internal_error"]},"message":{"type":"string"},"requestId":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["code","message","requestId"]}},"required":["error"]},"PaginationMeta":{"type":"object","properties":{"page":{"type":"integer","minimum":1},"pageSize":{"type":"integer","minimum":1},"total":{"type":"integer","minimum":0},"totalPages":{"type":"integer","minimum":0},"hasMore":{"type":"boolean"}},"required":["page","pageSize","total","totalPages","hasMore"]},"Client":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string","minLength":1,"maxLength":200},"status":{"type":"string","enum":["new","contacted","qualified","active","inactive","declined","spam"]},"notes":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","name","status","notes","createdAt","updatedAt"]},"ClientCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"status":{"type":"string","enum":["new","contacted","qualified","active","inactive","declined","spam"],"default":"active"},"notes":{"type":"string"}},"required":["name"]},"ClientUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"status":{"type":"string","enum":["new","contacted","qualified","active","inactive","declined","spam"],"default":"active"},"notes":{"type":"string"}}},"ClientList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Client"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"Contact":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string"},"email":{"type":["string","null"],"format":"email"},"phone":{"type":["string","null"]},"title":{"type":["string","null"]},"role":{"type":"string","enum":["primary","billing","other"]},"isPrimary":{"type":"boolean"},"clientId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"sourceSubmissionId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","name","email","phone","title","role","isPrimary","clientId","sourceSubmissionId","createdAt","updatedAt"]},"ContactCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"email":{"type":"string","format":"email"},"phone":{"type":"string","maxLength":50},"title":{"type":"string","maxLength":200},"role":{"type":"string","enum":["primary","billing","other"],"default":"other"},"isPrimary":{"type":"boolean","default":false},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"}},"required":["name"]},"ContactUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"email":{"type":"string","format":"email"},"phone":{"type":"string","maxLength":50},"title":{"type":"string","maxLength":200},"role":{"type":"string","enum":["primary","billing","other"],"default":"other"},"isPrimary":{"type":"boolean","default":false},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"}}},"ContactList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"Project":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"status":{"type":"string","enum":["active","paused","completed"]},"pipelineStageId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"startDate":{"type":["string","null"],"format":"date"},"endDate":{"type":["string","null"],"format":"date"},"eventDate":{"type":["string","null"],"format":"date"},"contractValue":{"type":["number","null"]},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","name","clientId","status","pipelineStageId","startDate","endDate","eventDate","contractValue","createdAt","updatedAt"]},"ProjectCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"status":{"type":"string","enum":["active","paused","completed"],"default":"active"},"pipelineStageId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"eventDate":{"type":"string","format":"date"},"contractValue":{"type":"number","minimum":0}},"required":["name","clientId"]},"ProjectUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"status":{"type":"string","enum":["active","paused","completed"],"default":"active"},"pipelineStageId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"eventDate":{"type":"string","format":"date"},"contractValue":{"type":"number","minimum":0}}},"ProjectList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Project"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"InvoiceLineItem":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"description":{"type":"string"},"quantity":{"type":"number"},"unitPrice":{"type":"number"},"taxable":{"type":"boolean"},"discountPercent":{"type":["number","null"]},"total":{"type":"number"}},"required":["id","description","quantity","unitPrice","taxable","discountPercent","total"]},"Invoice":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"invoiceNumber":{"type":"string"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"billingContactId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"projectIds":{"type":"array","items":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"}},"status":{"type":"string","enum":["draft","sent","partial","paid","void"]},"subject":{"type":["string","null"]},"issueDate":{"type":"string","format":"date"},"dueDate":{"type":"string","format":"date"},"currency":{"type":"string"},"subtotal":{"type":"number"},"discountAmount":{"type":"number"},"taxAmount":{"type":"number"},"total":{"type":"number"},"amountPaid":{"type":"number"},"balanceDue":{"type":"number"},"overdue":{"type":"boolean","description":"Derived (read-only): true when the invoice is past its due date with a balance still owing (status is sent or partial). Not a stored status."},"paymentTerms":{"type":["string","null"]},"notes":{"type":["string","null"]},"paidAt":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"lineItems":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceLineItem"}},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","invoiceNumber","clientId","billingContactId","projectIds","status","subject","issueDate","dueDate","currency","subtotal","discountAmount","taxAmount","total","amountPaid","balanceDue","overdue","paymentTerms","notes","paidAt","lineItems","createdAt","updatedAt"]},"InvoiceCreate":{"type":"object","properties":{"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"billingContactId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"projectIds":{"type":"array","items":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"}},"status":{"type":"string","enum":["draft","sent"],"default":"draft"},"subject":{"type":"string","maxLength":500},"issueDate":{"type":"string","format":"date"},"dueDate":{"type":"string","format":"date"},"paymentTerms":{"type":"string","maxLength":500},"notes":{"type":"string","maxLength":5000},"lineItems":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string","minLength":1,"maxLength":500},"quantity":{"type":"number","exclusiveMinimum":0},"unitPrice":{"type":"number","minimum":0},"taxable":{"type":"boolean","default":false},"discountPercent":{"type":"number","minimum":0,"maximum":100}},"required":["description","quantity","unitPrice"]},"minItems":1}},"required":["clientId","lineItems"]},"InvoiceUpdate":{"type":"object","properties":{"billingContactId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"projectIds":{"type":"array","items":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"}},"status":{"type":"string","enum":["draft","sent","void"]},"subject":{"type":["string","null"],"maxLength":500},"issueDate":{"type":"string","format":"date"},"dueDate":{"type":"string","format":"date"},"paymentTerms":{"type":["string","null"],"maxLength":500},"notes":{"type":["string","null"],"maxLength":5000}}},"InvoiceList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Invoice"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"ContractSigner":{"type":"object","properties":{"contactId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"string","enum":[""]}]},"role":{"type":"string"},"order":{"type":"integer"},"status":{"type":"string"},"signedAt":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["contactId","name","email","role","order","status","signedAt"]},"Contract":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"contractNumber":{"type":"string"},"title":{"type":"string"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"billingContactId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"projectId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"sourceTemplateId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"status":{"type":"string","enum":["draft","sent","viewed","active","completed","expired","voided"]},"signingMode":{"type":"string","enum":["client_only","counter_sign","auto_counter_sign"]},"contentType":{"type":"string","enum":["tiptap","pdf"]},"issueDate":{"type":["string","null"],"format":"date"},"effectiveDate":{"type":["string","null"],"format":"date"},"expirationDate":{"type":["string","null"],"format":"date"},"signedDate":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"currency":{"type":"string"},"contractValue":{"type":["number","null"]},"signers":{"type":"array","items":{"type":"object","properties":{"contactId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"string","enum":[""]}]},"role":{"type":"string"},"order":{"type":"integer"},"status":{"type":"string"},"signedAt":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["contactId","name","email","role","order","status","signedAt"]}},"archived":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","contractNumber","title","clientId","billingContactId","projectId","sourceTemplateId","status","signingMode","contentType","issueDate","effectiveDate","expirationDate","signedDate","currency","contractValue","signers","archived","createdAt","updatedAt"]},"ContractCreate":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":300},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"billingContactId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"projectId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"sourceTemplateId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"issueDate":{"type":"string","format":"date"},"effectiveDate":{"type":"string","format":"date"},"expirationDate":{"type":"string","format":"date"},"contractValue":{"type":"number","minimum":0}},"required":["title","clientId"]},"ContractUpdate":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":300},"effectiveDate":{"type":["string","null"],"format":"date"},"expirationDate":{"type":["string","null"],"format":"date"},"archived":{"type":"boolean"}}},"ContractList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Contract"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"ClientDocument":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"kind":{"type":"string","enum":["smart-file"]},"title":{"type":["string","null"]},"status":{"type":"string","enum":["draft","sent","viewed","in_progress","accepted","completed","expired","void"]},"contactId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"projectId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"engagementProjectId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"isTemplate":{"type":"boolean"},"clientUrl":{"type":["string","null"]},"quoteConvertedAt":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"expiresAt":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","kind","title","status","contactId","clientId","projectId","engagementProjectId","isTemplate","clientUrl","quoteConvertedAt","expiresAt","createdAt","updatedAt"]},"ClientDocumentList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ClientDocument"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"Form":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string"},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"kind":{"type":"string","enum":["inquiry","questionnaire"]},"slug":{"type":["string","null"]},"enabled":{"type":"boolean"},"isDefault":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","name","title","description","kind","slug","enabled","isDefault","createdAt","updatedAt"]},"FormList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Form"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"FormSubmissionAnswer":{"type":"object","properties":{"fieldId":{"type":"string"},"question":{"type":"string"},"answer":{"type":"string"}},"required":["fieldId","question","answer"]},"FormSubmission":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"formId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"kind":{"type":["string","null"],"enum":["inquiry","questionnaire",null]},"status":{"type":"string","enum":["in_progress","submitted"]},"contactId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"source":{"type":["string","null"]},"submittedAt":{"type":["string","null"],"format":"date"},"answers":{"type":["array","null"],"items":{"$ref":"#/components/schemas/FormSubmissionAnswer"}},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","formId","kind","status","contactId","clientId","source","submittedAt","answers","createdAt","updatedAt"]},"FormSubmissionList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FormSubmission"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"Payment":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"invoiceId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":"number"},"currency":{"type":"string"},"receivedDate":{"type":"string","format":"date"},"method":{"type":"string","enum":["stripe","check","bank_transfer","cash","venmo","zelle","paypal","wire","other"]},"status":{"type":"string","enum":["pending","processing","succeeded","failed"]},"kind":{"type":"string","enum":["payment","refund","chargeback","dispute_fee","adjustment"]},"reference":{"type":["string","null"]},"notes":{"type":["string","null"]},"netAmount":{"type":["number","null"]},"payoutId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"refundOfId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","clientId","invoiceId","amount","currency","receivedDate","method","status","kind","reference","notes","netAmount","payoutId","refundOfId","createdAt","updatedAt"]},"PaymentCreate":{"type":"object","properties":{"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"invoiceId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":"number"},"currency":{"type":"string","minLength":3,"maxLength":3,"default":"USD"},"receivedDate":{"type":"string","format":"date"},"method":{"type":"string","enum":["check","bank_transfer","cash","venmo","zelle","paypal","wire","other"]},"kind":{"type":"string","enum":["payment","refund","adjustment"],"default":"payment"},"reference":{"type":"string","maxLength":200},"notes":{"type":"string","maxLength":2000},"refundOfId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"}},"required":["clientId","amount","receivedDate","method"]},"PaymentUpdate":{"type":"object","properties":{"reference":{"type":["string","null"],"maxLength":200},"notes":{"type":["string","null"],"maxLength":2000}}},"PaymentList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Payment"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"Payout":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"stripePayoutId":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"arrivalDate":{"type":["string","null"],"format":"date"},"status":{"type":"string","enum":["pending","in_transit","paid","failed","canceled"]},"type":{"type":"string"},"automatic":{"type":"boolean"},"description":{"type":["string","null"]},"bankAccountLast4":{"type":["string","null"]},"bankAccountName":{"type":["string","null"]},"grossTotal":{"type":"number"},"feeTotal":{"type":"number"},"refundTotal":{"type":"number"},"paymentCount":{"type":"integer"},"failureCode":{"type":["string","null"]},"failureMessage":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","stripePayoutId","amount","currency","arrivalDate","status","type","automatic","description","bankAccountLast4","bankAccountName","grossTotal","feeTotal","refundTotal","paymentCount","failureCode","failureMessage","createdAt","updatedAt"]},"PayoutList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Payout"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"TimeEntry":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"projectId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"memberId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"catalogItemId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"date":{"type":"string","format":"date"},"hours":{"type":"number"},"description":{"type":["string","null"]},"billable":{"type":"boolean"},"rateType":{"type":"string","enum":["standard","overtime","emergency","custom"]},"customMultiplierName":{"type":["string","null"]},"rateOverride":{"type":["number","null"]},"effectiveRate":{"type":["number","null"]},"workerName":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","projectId","clientId","memberId","catalogItemId","date","hours","description","billable","rateType","customMultiplierName","rateOverride","effectiveRate","workerName","createdAt","updatedAt"]},"TimeEntryCreate":{"type":"object","properties":{"projectId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"memberId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"catalogItemId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"date":{"type":"string","format":"date"},"hours":{"type":"number","exclusiveMinimum":0},"description":{"type":"string","maxLength":2000},"billable":{"type":"boolean","default":true},"rateType":{"type":"string","enum":["standard","overtime","emergency","custom"],"default":"standard"},"customMultiplierName":{"type":"string","maxLength":100},"rateOverride":{"type":"number","minimum":0},"workerName":{"type":"string","maxLength":200}},"required":["projectId","memberId","date","hours"]},"TimeEntryUpdate":{"type":"object","properties":{"projectId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"memberId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"catalogItemId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"date":{"type":"string","format":"date"},"hours":{"type":"number","exclusiveMinimum":0},"description":{"type":"string","maxLength":2000},"billable":{"type":"boolean","default":true},"rateType":{"type":"string","enum":["standard","overtime","emergency","custom"],"default":"standard"},"customMultiplierName":{"type":"string","maxLength":100},"rateOverride":{"type":"number","minimum":0},"workerName":{"type":"string","maxLength":200}}},"TimeEntryList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TimeEntry"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"Milestone":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"parentType":{"type":"string","enum":["projects","client-documents"]},"parentId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"title":{"type":"string"},"description":{"type":["string","null"]},"date":{"type":["string","null"],"format":"date"},"time":{"type":["string","null"]},"status":{"type":"string","enum":["pending","in-progress","completed"]},"completedAt":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"assigneeId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"catalogItemId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"sortOrder":{"type":"integer"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","parentType","parentId","title","description","date","time","status","completedAt","assigneeId","catalogItemId","sortOrder","createdAt","updatedAt"]},"MilestoneCreate":{"type":"object","properties":{"parentType":{"type":"string","enum":["projects","client-documents"]},"parentId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"title":{"type":"string","minLength":1,"maxLength":300},"description":{"type":"string","maxLength":2000},"date":{"type":"string","format":"date"},"time":{"type":"string","pattern":"^\\d{2}:\\d{2}$"},"status":{"type":"string","enum":["pending","in-progress","completed"],"default":"pending"},"assigneeId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"catalogItemId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"sortOrder":{"type":"integer"}},"required":["parentType","parentId","title","date"]},"MilestoneUpdate":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":300},"description":{"type":["string","null"],"maxLength":2000},"date":{"type":["string","null"],"format":"date"},"time":{"type":["string","null"],"pattern":"^\\d{2}:\\d{2}$"},"status":{"type":"string","enum":["pending","in-progress","completed"]},"assigneeId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"catalogItemId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"sortOrder":{"type":"integer"}}},"MilestoneList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Milestone"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"CalendarEvent":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"title":{"type":"string"},"description":{"type":["string","null"]},"startDateTime":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"endDateTime":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"allDay":{"type":"boolean"},"projectId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"actionable":{"type":"boolean"},"completedAt":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"recurring":{"type":"boolean"},"rrule":{"type":["string","null"]},"recurrenceEnd":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"source":{"type":"string","enum":["manual","google","microsoft","apple"]},"readOnly":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","title","description","startDateTime","endDateTime","allDay","projectId","clientId","actionable","completedAt","recurring","rrule","recurrenceEnd","source","readOnly","createdAt","updatedAt"]},"CalendarEventCreate":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":300},"description":{"type":"string","maxLength":5000},"startDateTime":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"endDateTime":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"allDay":{"type":"boolean","default":false},"projectId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"actionable":{"type":"boolean","default":false},"recurring":{"type":"boolean","default":false},"rrule":{"type":"string","maxLength":500},"recurrenceEnd":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["title","startDateTime","endDateTime"]},"CalendarEventUpdate":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":300},"description":{"type":["string","null"],"maxLength":5000},"startDateTime":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"endDateTime":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"allDay":{"type":"boolean"},"projectId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"actionable":{"type":"boolean"},"completedAt":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"recurring":{"type":"boolean"},"rrule":{"type":["string","null"],"maxLength":500},"recurrenceEnd":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"}}},"CalendarEventList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEvent"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"TransactionAssignment":{"type":"object","properties":{"projectId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":["number","null"]},"percentage":{"type":["number","null"]},"fixedAmount":{"type":["number","null"]},"startDate":{"type":["string","null"],"format":"date"},"endDate":{"type":["string","null"],"format":"date"}},"required":["projectId","clientId","amount","percentage","fixedAmount","startDate","endDate"]},"Transaction":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string"},"catalogItemId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"taxCategoryId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":["number","null"]},"frequency":{"type":"string","enum":["one-time","monthly","quarterly","annual"]},"direction":{"type":"string","enum":["cost","revenue"]},"mode":{"type":"string","enum":["each","split","global"]},"splitEvenly":{"type":["boolean","null"]},"assignments":{"type":"array","items":{"type":"object","properties":{"projectId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":["number","null"]},"percentage":{"type":["number","null"]},"fixedAmount":{"type":["number","null"]},"startDate":{"type":["string","null"],"format":"date"},"endDate":{"type":["string","null"],"format":"date"}},"required":["projectId","clientId","amount","percentage","fixedAmount","startDate","endDate"]}},"passThrough":{"type":["boolean","null"]},"markupPercent":{"type":["number","null"]},"billedAmount":{"type":["number","null"]},"startDate":{"type":["string","null"],"format":"date"},"endDate":{"type":["string","null"],"format":"date"},"notes":{"type":["string","null"]},"vendorName":{"type":["string","null"]},"vendorEmail":{"type":["string","null"],"format":"email"},"vendorTaxId":{"type":["string","null"]},"receiptVerified":{"type":"boolean"},"status":{"type":"string","enum":["active","paused","archived"]},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","name","catalogItemId","taxCategoryId","amount","frequency","direction","mode","splitEvenly","assignments","passThrough","markupPercent","billedAmount","startDate","endDate","notes","vendorName","vendorEmail","vendorTaxId","receiptVerified","status","createdAt","updatedAt"]},"TransactionCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":300},"catalogItemId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"taxCategoryId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":"number","exclusiveMinimum":0},"frequency":{"type":"string","enum":["one-time","monthly","quarterly","annual"],"default":"one-time"},"direction":{"type":"string","enum":["cost","revenue"]},"mode":{"type":"string","enum":["each","split","global"],"default":"each"},"splitEvenly":{"type":"boolean"},"assignments":{"type":"array","items":{"type":"object","properties":{"projectId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":"number"},"percentage":{"type":"number","minimum":0,"maximum":100},"fixedAmount":{"type":"number"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"}}}},"passThrough":{"type":"boolean"},"markupPercent":{"type":"number","minimum":0},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"notes":{"type":"string","maxLength":2000},"vendorName":{"type":"string","maxLength":200},"vendorEmail":{"type":"string","format":"email"},"vendorTaxId":{"type":"string","maxLength":50},"status":{"type":"string","enum":["active","paused","archived"],"default":"active"}},"required":["name","amount","direction"]},"TransactionUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":300},"catalogItemId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"taxCategoryId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":"number","exclusiveMinimum":0},"frequency":{"type":"string","enum":["one-time","monthly","quarterly","annual"],"default":"one-time"},"direction":{"type":"string","enum":["cost","revenue"]},"mode":{"type":"string","enum":["each","split","global"],"default":"each"},"splitEvenly":{"type":"boolean"},"assignments":{"type":"array","items":{"type":"object","properties":{"projectId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"amount":{"type":"number"},"percentage":{"type":"number","minimum":0,"maximum":100},"fixedAmount":{"type":"number"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"}}}},"passThrough":{"type":"boolean"},"markupPercent":{"type":"number","minimum":0},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"notes":{"type":"string","maxLength":2000},"vendorName":{"type":"string","maxLength":200},"vendorEmail":{"type":"string","format":"email"},"vendorTaxId":{"type":"string","maxLength":50},"status":{"type":"string","enum":["active","paused","archived"],"default":"active"}}},"TransactionList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"CatalogItem":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string"},"invoiceLabel":{"type":["string","null"]},"description":{"type":["string","null"]},"invoiceDescription":{"type":["string","null"]},"defaultRate":{"type":["number","null"]},"unit":{"type":"string","enum":["flat","hour","each"]},"defaultFrequency":{"type":"string","enum":["one-time","monthly","quarterly","annual"]},"type":{"type":"string","enum":["expense","charge"]},"pricingMode":{"type":"string","enum":["fixed","hourly","bom"]},"composition":{"type":"string","enum":["atom","bundle"]},"bundlePriceMode":{"type":["string","null"],"enum":["sum","fixed",null]},"bundleFixedPrice":{"type":["number","null"]},"taxCategoryId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"status":{"type":"string","enum":["active","paused","archived"]},"clientId":{"type":["string","null"],"format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","name","invoiceLabel","description","invoiceDescription","defaultRate","unit","defaultFrequency","type","pricingMode","composition","bundlePriceMode","bundleFixedPrice","taxCategoryId","status","clientId","createdAt","updatedAt"]},"CatalogItemCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"invoiceLabel":{"type":"string","maxLength":200},"description":{"type":"string","maxLength":2000},"invoiceDescription":{"type":"string","maxLength":2000},"defaultRate":{"type":"number","minimum":0},"unit":{"type":"string","enum":["flat","hour","each"],"default":"flat"},"defaultFrequency":{"type":"string","enum":["one-time","monthly","quarterly","annual"],"default":"one-time"},"type":{"type":"string","enum":["expense","charge"]},"pricingMode":{"type":"string","enum":["fixed","hourly","bom"],"default":"fixed"},"taxCategoryId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"status":{"type":"string","enum":["active","paused","archived"],"default":"active"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"}},"required":["name","type"]},"CatalogItemUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"invoiceLabel":{"type":"string","maxLength":200},"description":{"type":"string","maxLength":2000},"invoiceDescription":{"type":"string","maxLength":2000},"defaultRate":{"type":"number","minimum":0},"unit":{"type":"string","enum":["flat","hour","each"],"default":"flat"},"defaultFrequency":{"type":"string","enum":["one-time","monthly","quarterly","annual"],"default":"one-time"},"type":{"type":"string","enum":["expense","charge"]},"pricingMode":{"type":"string","enum":["fixed","hourly","bom"],"default":"fixed"},"taxCategoryId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"status":{"type":"string","enum":["active","paused","archived"],"default":"active"},"clientId":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"}}},"CatalogItemList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CatalogItem"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]},"Webhook":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"events":{"type":"array","items":{"type":"string","enum":["invoice_sent","invoice_due_soon","invoice_overdue","invoice_paid","invoice_payment_failed","invoice_disputed","invoice_payment_reminder","invoice_viewed","payment_received","payment_refunded","payment_applied","payment_unapplied","payment_deleted","payment_chargeback","receipt_sent","schedule_deposit_ready","schedule_installment_due","schedule_installment_paid","schedule_completed","document_processed","document_action_created","document_action_approved","document_needs_review","document_failed","client_created","contact_created","project_created","time_entry_created","lead_created","client_won","client_lost","lead_status_changed","milestone_approaching","timer_running_reminder","contract_sent","contract_viewed","contract_signed","contract_recipient_signed","contract_countersigned","contract_completed","contract_expired","contract_voided","smart_file_sent","smart_file_viewed","smart_file_accepted","smart_file_completed","smart_file_expired","form_submission_completed","subscription_payment_failed","payout_paid","payout_failed"]}},"enabled":{"type":"boolean"},"source":{"type":"string","enum":["manual","zapier","n8n","make"]},"hasSecret":{"type":"boolean"},"lastTriggered":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp (UTC)"},"lastStatus":{"type":["integer","null"]},"consecutiveFailures":{"type":"integer"},"createdAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"},"updatedAt":{"type":"string","format":"date-time","description":"ISO 8601 timestamp (UTC)"}},"required":["id","name","url","events","enabled","source","hasSecret","lastTriggered","lastStatus","consecutiveFailures","createdAt","updatedAt"]},"WebhookCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"url":{"type":"string","format":"uri"},"events":{"type":"array","items":{"type":"string","enum":["invoice_sent","invoice_due_soon","invoice_overdue","invoice_paid","invoice_payment_failed","invoice_disputed","invoice_payment_reminder","invoice_viewed","payment_received","payment_refunded","payment_applied","payment_unapplied","payment_deleted","payment_chargeback","receipt_sent","schedule_deposit_ready","schedule_installment_due","schedule_installment_paid","schedule_completed","document_processed","document_action_created","document_action_approved","document_needs_review","document_failed","client_created","contact_created","project_created","time_entry_created","lead_created","client_won","client_lost","lead_status_changed","milestone_approaching","timer_running_reminder","contract_sent","contract_viewed","contract_signed","contract_recipient_signed","contract_countersigned","contract_completed","contract_expired","contract_voided","smart_file_sent","smart_file_viewed","smart_file_accepted","smart_file_completed","smart_file_expired","form_submission_completed","subscription_payment_failed","payout_paid","payout_failed"]},"minItems":1},"enabled":{"type":"boolean","default":true},"secret":{"type":"string","minLength":16,"maxLength":200}},"required":["name","url","events"]},"WebhookUpdate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200},"url":{"type":"string","format":"uri"},"events":{"type":"array","items":{"type":"string","enum":["invoice_sent","invoice_due_soon","invoice_overdue","invoice_paid","invoice_payment_failed","invoice_disputed","invoice_payment_reminder","invoice_viewed","payment_received","payment_refunded","payment_applied","payment_unapplied","payment_deleted","payment_chargeback","receipt_sent","schedule_deposit_ready","schedule_installment_due","schedule_installment_paid","schedule_completed","document_processed","document_action_created","document_action_approved","document_needs_review","document_failed","client_created","contact_created","project_created","time_entry_created","lead_created","client_won","client_lost","lead_status_changed","milestone_approaching","timer_running_reminder","contract_sent","contract_viewed","contract_signed","contract_recipient_signed","contract_countersigned","contract_completed","contract_expired","contract_voided","smart_file_sent","smart_file_viewed","smart_file_accepted","smart_file_completed","smart_file_expired","form_submission_completed","subscription_payment_failed","payout_paid","payout_failed"]},"minItems":1},"enabled":{"type":"boolean"},"secret":{"type":["string","null"],"minLength":16,"maxLength":200}}},"WebhookList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","pagination"]}},"parameters":{},"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"x-api-key"},"bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"paths":{"/api/v1/clients":{"get":{"operationId":"listClients","summary":"List clients","tags":["Clients"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"required":false,"name":"pageSize","in":"query"},{"schema":{"type":"string","enum":["new","contacted","qualified","active","inactive","declined","spam"]},"required":false,"name":"status","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientList"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"post":{"operationId":"createClient","summary":"Create a client","tags":["Clients"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"create","parameters":[{"schema":{"type":"string","maxLength":255,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","example":"create-client-2026-05-24-a1b2c3"},"required":false,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","name":"Idempotency-Key","in":"header"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"The Idempotency-Key was reused with a different request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/clients/{id}":{"get":{"operationId":"getClient","summary":"Get a client","tags":["Clients"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"get","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"patch":{"operationId":"updateClient","summary":"Update a client","tags":["Clients"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"update","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"delete":{"operationId":"deleteClient","summary":"Delete a client","tags":["Clients"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"delete","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/contacts":{"get":{"operationId":"listContacts","summary":"List contacts","tags":["Contacts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"required":false,"name":"pageSize","in":"query"},{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":false,"description":"UUID v4","name":"clientId","in":"query"},{"schema":{"type":"string","enum":["primary","billing","other"]},"required":false,"name":"role","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactList"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"post":{"operationId":"createContact","summary":"Create a contact","tags":["Contacts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"create","parameters":[{"schema":{"type":"string","maxLength":255,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","example":"create-client-2026-05-24-a1b2c3"},"required":false,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","name":"Idempotency-Key","in":"header"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"The Idempotency-Key was reused with a different request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/contacts/{id}":{"get":{"operationId":"getContact","summary":"Get a contact","tags":["Contacts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"get","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"patch":{"operationId":"updateContact","summary":"Update a contact","tags":["Contacts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"update","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"delete":{"operationId":"deleteContact","summary":"Delete a contact","tags":["Contacts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"delete","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/projects":{"get":{"operationId":"listProjects","summary":"List projects","tags":["Projects"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"required":false,"name":"pageSize","in":"query"},{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":false,"description":"UUID v4","name":"clientId","in":"query"},{"schema":{"type":"string","enum":["active","paused","completed"]},"required":false,"name":"status","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectList"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"post":{"operationId":"createProject","summary":"Create a project","tags":["Projects"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"create","parameters":[{"schema":{"type":"string","maxLength":255,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","example":"create-client-2026-05-24-a1b2c3"},"required":false,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","name":"Idempotency-Key","in":"header"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"The Idempotency-Key was reused with a different request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/projects/{id}":{"get":{"operationId":"getProject","summary":"Get a project","tags":["Projects"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"get","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"patch":{"operationId":"updateProject","summary":"Update a project","tags":["Projects"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"update","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"delete":{"operationId":"deleteProject","summary":"Delete a project","tags":["Projects"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"delete","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/invoices":{"get":{"operationId":"listInvoices","summary":"List invoices","tags":["Invoices"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"required":false,"name":"pageSize","in":"query"},{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":false,"description":"UUID v4","name":"clientId","in":"query"},{"schema":{"type":"string","enum":["draft","sent","partial","paid","void"]},"required":false,"name":"status","in":"query"},{"schema":{"type":"string","enum":["true","false"],"description":"Filter by the derived overdue condition. `true` → sent/partial invoices past their due date; `false` → everything else. (Replaces the removed `status=overdue` filter.)"},"required":false,"description":"Filter by the derived overdue condition. `true` → sent/partial invoices past their due date; `false` → everything else. (Replaces the removed `status=overdue` filter.)","name":"overdue","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceList"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"post":{"operationId":"createInvoice","summary":"Create an invoice","description":"Status `paid` and `partial` are system-derived from Payments; do not set them directly. `overdue` is not a status — it is a derived read-only boolean field (past due with a balance owing).","tags":["Invoices"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"create","parameters":[{"schema":{"type":"string","maxLength":255,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","example":"create-client-2026-05-24-a1b2c3"},"required":false,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","name":"Idempotency-Key","in":"header"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"The Idempotency-Key was reused with a different request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/invoices/{id}":{"get":{"operationId":"getInvoice","summary":"Get an invoice","tags":["Invoices"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"get","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"patch":{"operationId":"updateInvoice","summary":"Update an invoice (line items not editable in v1)","tags":["Invoices"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"update","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"delete":{"operationId":"deleteInvoice","summary":"Delete an invoice (only drafts)","tags":["Invoices"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"delete","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/contracts":{"get":{"operationId":"listContracts","summary":"List contracts","tags":["Contracts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"required":false,"name":"pageSize","in":"query"},{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":false,"description":"UUID v4","name":"clientId","in":"query"},{"schema":{"type":"string","enum":["draft","sent","viewed","active","completed","expired","voided"]},"required":false,"name":"status","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContractList"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"post":{"operationId":"createContract","summary":"Create a draft contract","description":"Creates a draft contract. Signing flow, signer assignment, and Tiptap content are dashboard-managed.","tags":["Contracts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"create","parameters":[{"schema":{"type":"string","maxLength":255,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","example":"create-client-2026-05-24-a1b2c3"},"required":false,"description":"Optional unique key that makes this create safely retryable. Replaying the same key returns the original response instead of creating a duplicate; reusing a key with a different request body returns 409.","name":"Idempotency-Key","in":"header"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContractCreate"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contract"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"The Idempotency-Key was reused with a different request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/contracts/{id}":{"get":{"operationId":"getContract","summary":"Get a contract","tags":["Contracts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"get","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contract"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"patch":{"operationId":"updateContract","summary":"Update a contract (limited fields)","description":"Only `title`, `effectiveDate`, `expirationDate`, and `archived` are editable via v1. `title`/`effectiveDate`/`expirationDate` are draft-only; `archived` is always editable.","tags":["Contracts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"update","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContractUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contract"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"delete":{"operationId":"deleteContract","summary":"Delete a contract (only drafts)","tags":["Contracts"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"delete","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"204":{"description":"Deleted"},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/client-documents":{"get":{"operationId":"listClientDocuments","summary":"List proposals","tags":["Forms & Agreements"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"required":false,"name":"pageSize","in":"query"},{"schema":{"type":"string","enum":["draft","sent","viewed","in_progress","accepted","completed","expired","void"]},"required":false,"name":"status","in":"query"},{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":false,"description":"UUID v4","name":"clientId","in":"query"},{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":false,"description":"UUID v4","name":"contactId","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientDocumentList"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/client-documents/{id}":{"get":{"operationId":"getClientDocument","summary":"Get a proposal","tags":["Forms & Agreements"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"get","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientDocument"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/forms":{"get":{"operationId":"listForms","summary":"List forms","tags":["Forms"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"offsetLimit","inputs":[{"name":"page","in":"parameters","type":"page"},{"name":"pageSize","in":"parameters","type":"limit"}],"outputs":{"results":"$.data"}},"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"integer","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":25},"required":false,"name":"pageSize","in":"query"},{"schema":{"type":"string","enum":["inquiry","questionnaire"]},"required":false,"name":"kind","in":"query"},{"schema":{"type":"string"},"required":false,"name":"slug","in":"query"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormList"}}}},"400":{"description":"The request was malformed or failed schema validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/forms/{id}":{"get":{"operationId":"getForm","summary":"Get a form","tags":["Forms"],"security":[{"apiKey":[]},{"bearer":[]}],"x-speakeasy-name-override":"get","x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":30000,"maxElapsedTime":30000,"exponent":1.5},"statusCodes":["429","5XX"],"retryConnectionErrors":true},"parameters":[{"schema":{"type":"string","format":"uuid","description":"UUID v4","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true,"description":"UUID v4","name":"id","in":"path"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Form"}}}},"401":{"description":"Missing or invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The API key or token lacks the scope required for this operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"No resource with that id exists in your organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"429":{"description":"Rate limit exceeded — back off and retry (see Retry-After)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/api/v1/form
[...]
